body{
font-family: sans-serif;
}

h1 {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.font-size-increase{
   font-size: 45px;
}
h5{
font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
p {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
li{
   font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

 header{
    background-color: #000324;
 }
 span{
   color: #FFFFFF;
   font-family: "Source Sans 3", sans-serif;
   font-optical-sizing: auto;
   font-style: normal;
 }
 .text-background{
    background-color: #000324;
    padding-top: 25px;
    padding-bottom: 25px;
    height: 20vh;
    width: 55vw;
    opacity: 70%;
 }
 .text-center
 {
    text-align: center;
 }
 .priceColor{
    color: #1F51A8;
 }

 .reserve-spacing{
   margin-top: 5rem;
   margin-bottom: 5rem;
   margin-left: 15rem;
   margin-right: 15rem;
 }
.footerColor{
    background-color: #000324;
}
.img-center /*used to center logo in the footer */
{
    display: block;
    margin: auto;
}
.amenities-img-size{
   width: 100px;
   height: 100px;
}
.image-background{
   background-image:url(../hotelMarkupAssets/bg2.jpg);
}
@media(max-width: 767px){
   .custom-image-height{
      height: 30vh;
   }
}
@media(min-width: 768px) {
   .custom-image-height{
      height: 55vh;
   }
}
@media screen and (min-width:991px){
   .hide-image{
      display: none;
   }
}
