
 header{
    background-color: #000324;
 }
 span{
    color: #FFFFFF;
 }
 .text-background{
    background-color: #000324;
    padding-top: 25px;
    padding-bottom: 25px;
    max-height: min-content;
    width: 800px;
    text-align: center;
 }
 .text-center
 {
    text-align: center;
 }
 .priceColor{
    color: #1F51A8;
 }
 .img-fit{
    object-fit: cover;
    height: 100%;
    width: 100%;
 }
.footerColor{
    background-color: #000324;
}
.img-center
{
    display: block;
    margin: auto;
}
.amenities-img-size{
   width: 100px;
   height: 120px;
}