body{
font-family: sans-serif;
}
 header{
    background-color: #000324;
 }
 span{
    color: #FFFFFF;
 }
 .text-background{
    background-color: #000324;
    padding-top: 25px;
    padding-bottom: 25px;
    max-height: min-content;
    width: 50vw;
    text-align: center;
    opacity: 70%;
 }
 .text-center
 {
    text-align: center;
 }
 .priceColor{
    color: #1F51A8;
 }
 .img-fit{
    object-fit: cover;
    height: 100%;
    width: 100%;
 }
.footerColor{
    background-color: #000324;
}
.img-center
{
    display: block;
    margin: auto;
}
.amenities-img-size{
   width: 100px;
   height: 100px;
}
.image-background{
   background-image:url(../hotelMarkupAssets/bg2.jpg);
}
@media screen and (max-width: 767px){
   .custom-image-height{
      height: 50vh;
   }
}
@media screen and (min-width: 768px) {
   .custom-image-height{
      height: 70vh;
   }
}

