
h1 {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
h5{
   font-family: "Dosis", sans-serif;
   font-optical-sizing: auto;
   font-style: normal;
}
.font-size-increase{
   font-size: 45px;
}
.Dosis-font
{
   font-family: "Dosis", sans-serif;
   font-optical-sizing: auto;
   font-style: normal;
}
p{
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
li{
   font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
span{
   color: #FFFFFF;
}
 header{
    background-color: #000324;
 }
 .text-background{
    background-color: #000324;
    padding: 25px;
    height: 25vh;
    width: 55vw;
    opacity: 70%;
 }
 .text-center
 {
    text-align: center;
 }
 .priceColor{
    color: #1F51A8;
 }
.img-packages{
   max-height: 210px;
   max-width: auto;
}
.footerColor{
   background-color: #000324;
}
.img-center /*used to center logo in the footer */
{
   display: block;
   margin: auto;
}
.amenities-img-size{
   width: 120px;
   height: 120px;
   aspect-ratio: 1/1;
}
.image-background{
   background-image:url(../hotelMarkupAssets/bg2.jpg);
}
.form-control{
   border-radius: 0px !important;
}
.reserve-spacing{
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin-left: 15rem;
  margin-right: 15rem;
}
@media(max-width: 800px)
{
   .custom-image-height{
      height: 75vh;
   }
   .text-background
   {
      height: auto;
      width: auto;
   }
}
@media(max-width: 1100px)
{
   .reserve-spacing
   {
      margin: 3rem;
   }
}
@media(min-width: 799px) {
   .custom-image-height{
      height:450px;
   }
}
@media(min-width:991px){
   .hide-image{
      display: none;
   }
}
