
 header{
    background-color: #000324;
 }
 span{
    color: #FFFFFF;
 }
 .text-background{
    background-color: #000324;
    padding-top: 20px;
    padding-bottom: 20px;
    max-height: min-content;
    width: 800px;
    text-align: center;
 }